/* footer */
footer{
    background-color: #CCCCCC;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer img{
    width: 32px;
    height: 32px;
}
footer #icon{
    display: flex;
    gap: 10px;
}

footer #contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}